.logoClass {
    display: flex;
    background: #ffffff;
    color: #FF7F50;
    padding: 0px;
}

span {
    color: #FF7F50;
    font-size: 32px;
}
.logo{
    height: 54px;
    width: 54px;
    color: #FF7F50;
}

